@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --list-width: 30vw;
    --edit-width:40vw;
    --blue: #D2E0FB;
    --yellow:#F9F3CC;
    --sage: #a3bb8d;
    --dark-blue: #8EACCD;
    --dark-green: #415033;


}