@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --list-width: 30vw;
    --edit-width:40vw;
    --blue: #D2E0FB;
    --yellow:#F9F3CC;
    --sage: #a3bb8d;
    --dark-blue: #8EACCD;
    --dark-green: #415033;


}

/*---- Global Styles ---------*/
:root {
    --list-width: 30vw;
    --edit-width:40vw;
    --blue: #D2E0FB;
    --yellow:#F9F3CC;
    --sage: #a3bb8d;
    --dark-blue: #8EACCD;
    --dark-green: #415033;


}
/*---- Landing Page ----------*/
.inputField {
    max-width: 80vw;
}
.landingDiv {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
    margin-top: 10%;
    gap: 1vw;
}
.notesButton {
    background-color: 'var(--dark-green)';
    border-color: 'var(--dark-green)';
    width: 40%;
    margin-top: 10%;
}
.img-column {
    align-items: center;
    max-width: 30vw;
    overflow: hidden;
    border-radius: 1em;
}
.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 40vh;
}
/*---- Login Page ------------*/
.auth-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.appDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.auth-form-wrap {
    padding: 16px;
    width: 600px;
    /* background-color: #ececec; */
    margin-top: 32px;
}
.app-content {
    height: 100vh;
}
.container {
    display: flex;
}

.notesLink {
    text-decoration: 'none';
    color: var(--sage);
    
}
.allNotesDiv {
    display: flex;
    flex-direction: column;
}
.allNotesTitleDiv {
    display: flex;
    flex-direction: column;
}
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    gap:1em;
    justify-content: center;
    padding:0.2em;
    z-index: 99;
}
.icons {
    font-size: 2em;
    z-index: 102;

}
.fullSideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: fit-content;
    position: absolute;
    top: 0px;
    left: 0px;
}