.carousel {
  transition: box-shadow 0.3s ease;
  display: flex;
  position: absolute;
  top: 0em;
  left:0em;

}
  .carousel-control-prev {
    height: 100%;
  }
  .carousel-control-next {
    height: 100%;
  }
  
  .carousel .carousel-control-prev-icon {
    visibility: hidden;
  }
  .carousel:hover .carousel-control-prev-icon {
    visibility: visible;
  }
  
  .carousel .carousel-control-next-icon {
    visibility: hidden;
  }
  .carousel:hover .carousel-control-next-icon {
    visibility: visible;
  }
  
  .App1 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0em;
  }
  

  
  