.allNotesHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.addNoteButton {
    width: fit-content;
}
.sideMenuContainer{
    height: calc(100vh - 60px); 
    padding-top: 20;
    border-right: 0.25px solid #ececec
}
.noteListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}
.allNotesContainer {
    display: flex;
    flex-direction: column;
}
.home-view {
    padding: 1em;
    width: 100%;
}